@font-face {
    font-family: "Arcade";
    src: url(./res/fonts/press_start_2p.ttf);
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    color: white;
    font-family: "Arcade", sans-serif;
    font-size: 10pt;
}

#gamearea {
    text-align: center;
    padding: 1em 0;
}

#gamearea canvas {
    border: 1px solid white;
}

.contact {
    text-align: center;
}

.contact a {
    color: #ffffff;
}

.contact a:hover {
    color: #cccccc;
}

.contact a:active {
    color: #888888;
}