@font-face {
    font-family: "Arcade";
    src: url(./res/fonts/press_start_2p.ttf);
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    color: white;
    font-family: "Arcade", sans-serif;
    font-size: 10pt;
}

#content {
    text-align: center;
}

#gamearea {
    padding: 1em 0;
}

#gamearea canvas {
    border: 1px solid white;
}

#pause-play {
    height: 3em;
    width: 10em;
    border-radius: 1em;
    border: none;
    font-size: 1em;
    text-transform: capitalize;
    cursor: pointer;
    background: #ffffff;
    font-family: "Arcade", sans-serif;
}

#pause-play:hover {
    background: #dedede;
}

#pause-play:active {
    background: #aaaaaa;
}

.contact {
    position: fixed;
    bottom: 0.5em;
    left: 1em;
    text-align: center;
}

.contact a {
    color: #ffffff;
}

.contact a:hover {
    color: #cccccc;
}

.contact a:active {
    color: #888888;
}